div(class="modal-header")
  h3 Create a Session
  span eve-kino v.{{version}}

div(class="modal-body")
  tabset
    tab(heading="Background")
      div(class="btn-group")
        button(type="button", class="btn", ng-model="set.type", btn-radio="'space'") Space
        button(type="button", class="btn", ng-model="set.type", btn-radio="'chromaKey'") Chroma Key

      div(class="row-fluid")
        div(ng-show="(set.type == 'space')") Select a background:
          div(class="row-fluid")
            select(class="span12", ng-model="set.selectedBackground", ng-options="bg as bg.resourceUrl for bg in backgrounds", size="5")

        div(ng-show="(set.type == 'chromaKey')") Pick a color (RGB values):
          div(data-color-input color="set.chromaKey.color", on-change="colorInputChanged()")


    tab(heading="By File")
      div(data-file-input="file", on-change="readFile(file)") Choose File

    tab(heading="Quality")
      div(class="row-fluid", ng-repeat="option in qualityOptions")
        div(class="span4") {{option.title}}
        div(class="span8 btn-group")
          button(type="button", class="btn", ng-repeat="value in option.values", ng-model="selectedOptions[option.field]", btn-radio="value.id") {{value.title}}
      div(class="row-fluid")
        div(class="span12") Some of these settings are dependent on machine or resources and might not be available.

div(class="modal-footer")
  button(ng-click="create(set.type)", class="btn btn-primary", ng-disabled="!canBeCreated()") Create
