doctype 5
html
   head
      title eve-kino
      link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css")
      link(rel="stylesheet", href="/stylesheets/style.css")
   body
      block content
