doctype 5
html
   head
      title eve-kino
      link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css")
      link(rel="stylesheet", href="/stylesheets/style.css")
      link(rel="apple-touch-icon", href="/images/favicon_144.png", sizes="144x144")
      link(rel="apple-touch-icon", href="/images/favicon_72.png", sizes="72x72")
      link(rel="shortcut icon", href="/images/favicon_16.ico")
   body
      block content
