extends layout

block content
  div(data-ng-controller="ApplicationController")
    div(class="container-fluid")
      div(class="row-fluid")
        div(class="span4", id="sideBar")
          div(class="row-fluid", id="menu")
            a(href="#", data-save-as) Save Data
          div(class="row-fluid")
            h5 Focus Selection
          div(class="row-fluid")
            button(class="span12", ng-click="setFocusOnCamera()") Focus Camera
            select(class="span12", ng-model="selectedFocus", ng-options="prop as prop.toString() for prop in stageProps", ng-change="setFocusOnProp(selectedFocus)", size="5")
          div(class="row-fluid")
            h5 Playhead Controls
          div(class="row-fluid")
            div(class="span12")
              button(class="span4", ng-click="record()") Record 
              button(class="span4", ng-click="stop()") Stop
              button(class="span4", ng-click="play()") Play
          div(class="row-fluid")
            span(class="span12") Status: {{status}}
        div(class="span8")
          div(class="row-fluid")
            div(class="span12 filmView", id="mainView", data-film-view)
              canvas(class="filmViewPort", id="mainScreen", ng-style="style()")
          div(class="row-fluid")
            button(class="btn btn-mini", ng-click="goFullscreen()") Full-Screen

      div(class="row-fluid")
        div(class="offset4 span8", id="propCreation")
          div(class="row-fluid")
            h5 New Props
          div(class="row-fluid")
            select(class="span12", ng-model="selectedProp", ng-options="prop as prop.resourceUrl for prop in props", size="5")
          div(class="row-fluid")
            button(class="span2", ng-click="addProp(selectedProp)") Add Prop

  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/gamepad.js")
  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/gl-matrix.js")
  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/ccpwgl_int.js")
  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/ccpwgl.js")

  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/require.js")

  script.
    require.config({
      baseUrl: "/javascripts/!{build}",
      paths: {
        "angular": "lib/angular",
        "ui-bootstrap": "lib/ui-bootstrap-tpls",
        "ClientApp": "client/ClientApp"
      },
      shim: {
        "angular": {
          exports: "angular"
        },
        "ui-bootstrap": ["angular"],
        "lib/ccpwgl": {
          exports: "ccpwgl"
        },
        "lib/gamepad": {
          exports: "Gamepad"
        }
      },
      config: {
        "ClientApp": !{clientConfig}
      }
    });
    require(["angular", "ui-bootstrap", "ClientApp"], function(angular, uiBootstrap, app) {
      var mainScreen = document.getElementById("mainScreen");
      var appModuleNames = app(mainScreen);

      //var link = document.getElementById("save");
      //link.href = "data:application/json;charset=utf-8," + encodeURIComponent(JSON.stringify({}));

      angular.bootstrap(document, appModuleNames);
    });
