extends layout

block content
  h1 eve-kino

  div(data-ng-controller="ApplicationController")
    label Name:
    input(type="text", ng-model="testName", placeholder="Enter a name here")
    span Hello {{testName}}!
    br
    select(ng-model="selectedShip", ng-options="ship as ship.url for ship in ships", size="5")
    pre
    | {{selectedShip | json}}
    button(ng-click="loadShip(selectedShip)") Load Ship
    br
    select(ng-model="selectedPlanet", ng-options="planet as planet.resourceUrl for planet in planets", size="5")
    pre
    | {{selectedPlanet | json}}
    button(ng-click="loadPlanet(selectedPlanet)") Load Planet
    br
    canvas(id="mainScreen")
    br
    button(ng-click="record()") Record 
    button(ng-click="pause()") Pause
    button(ng-click="play()") Play

  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/gamepad.js")
  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/gl-matrix.js")
  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/ccpwgl_int.js")
  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/ccpwgl.js")

  script(type="text/javascript", charset="utf-8", src="/javascripts/" + build + "/lib/require.js")

  script.
    require.config({
      baseUrl: "/javascripts/!{build}",
      paths: {
        "angular": "lib/angular",
        "ClientApp": "client/ClientApp"
      },
      shim: {
        "angular": {
          exports: "angular"
        },
        "lib/ccpwgl": {
          exports: "ccpwgl"
        },
        "lib/gamepad": {
          exports: "Gamepad"
        }
      },
      config: {
        "ClientApp": !{clientConfig}
      }
    });
    require(["angular", "ClientApp"], function(angular, app) {
      var mainScreen = document.getElementById("mainScreen");
      var appModuleNames = app(mainScreen);

      angular.bootstrap(document, appModuleNames);
    });
